.diagram{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.topDiagram{
    display: flex;
    justify-content: space-between;
}

.infoLabels{
    font-family: 'Poppins', sans-serif;
}

.infoLabels h3{
    color: var(--headline1);
    
    font-size: 14px;
    margin: 10px 0;
}
.infoLabels h4{
    color: var(--headline1);
    
    font-size: 20px;
    margin: 0 0 10px 0;
}

.reportButton{
    background-color: var(--fun-button-background);
    color: var(--fun-button-text);
    font-size: 12px;
    padding: 6px 14px;
    height: fit-content;
    width: fit-content;
}