.container{
    width: 100%;
    background-color: var(--background);
    padding: 20px 40px;
}

.transactionsList{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--lighter-background);
}